<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selectores simples.</title>
    <style>
    <!--
        p {
            text-align: center;
            color: red;
        }

        #para1 {
            text-align: center;
            color: red;
        }

        .center {
            text-align: center;
            color: red;
        }

        p.center{
            text-align: center;
            color: red;
        }

        h1, h2, p {
            text-align: center;
            color: red;
        }
    </style>
    </head>
    <body>
        <p class="center large">Este párrafo tiene dos clases.</p>
    </body>
    </html>